body{
	background-color: white;
}

.Name{
	font-size:120px;
	font-family:'Lato';
	text-align:center;
	margin-top:10px;
}

.Title{
	font-size:50px;
	font-family:'Lato';
	text-align:center;
	margin-top:-80px;
}

.Row{
	background-color: grey;
	width:100%;
	height:100px;
	border-radius:10px;
	font-family:'Lato';
	text-align:center;
}

.Gallery{
	font-size:90px;
	text-decoration: none;
	margin-left:-1100px;
	color:black;
	
}

.about{
	font-size:90px;
	text-decoration: none;
	margin-left:0px;
	margin-top:-108px;
	color:black;
}

.contact{
	font-size:90px;
	text-decoration: none;
	margin-left:1150px;
	margin-top:-112px;
	color:black;
	
}

img{
	width:33%;
}

.Links{
	margin-top: 50px;
}

.Explain{
	padding:20px;
	width:500px;
	height:250px;
	background-color:black;
	border-radius: 10px;
	color:white;
	font-family:'Lato';
}

video{
	float:right;
	margin-top:-320px;
}

.art{
	margin-top:-280px;
	float:right;
}

.class{
	width:49%;
}

@media only screen and (max-width: 1024px){

.Gallery{
	font-size:70px;
	text-decoration: none;
	margin-left:-650px;
	color:black;
	
}

.about{
	font-size:70px;
	text-decoration: none;
	margin-left:0px;
	margin-top:-84px;
	color:black;
}

.contact{
	font-size:70px;
	text-decoration: none;
	margin-left:650px;
	margin-top:-86px;
	color:black;
}

img{
	width:33%;
}

video{
	float:none;
	margin-top:50px;
	width:100%;
	height:100%;
}

.Explain{
	padding:20px;
	width:950px;
	height:250px;
	background-color:black;
	border-radius: 10px;
	color:white;
}

.art{
	margin-top:0;
	width:100%;
	float:none;
}

}

@media only screen and (max-width: 375px){

.Name{
	font-size:90px;
	font-family:'Lato';
	text-align:center;
	margin-top:10px;
}

.Title{
	font-size:30px;
	font-family:'Lato';
	text-align:center;
	margin-top:-60px;
}

.Row{
	background-color: grey;
	width:100%;
	height:300px;
	border-radius:10px;
	font-family:'Lato';
	text-align:center;
	margin-top:0px;
}

.Gallery{
	font-size:70px;
	text-decoration: none;
	margin-left:0px;
	color:black;
	
}

.about{
	font-size:70px;
	text-decoration: none;
	margin-left:0px;
	margin-top:0px;
	color:black;
}

.contact{
	font-size:70px;
	text-decoration: none;
	margin-left:0px;
	margin-top:0px;
	color:black;
}

img{
	width:100%;
}

video{
	float:none;
	margin-top:0px;
	width:320px;
	height:240px;
}

.Explain{
	padding:20px;
	width:300px;
	height:360px;
	background-color:black;
	border-radius: 10px;
	color:white;
}


}